.serviceImageContainer {
    height: 200px;
    overflow: hidden;

}

.workCVVideoContainer {
    width: 72%;
}

.workATVideoContainer {
    width: 24%;
    margin-bottom: 40px;
}

.imageLogo {
    position: absolute;
    min-width: 110px;
    min-height: 100px;
    max-height: 100px;
    max-width: 240px;
}

.footerLogo {
    min-width: 180px;
    min-height: 180px;
    max-height: 180px;
    max-width: 180px;
}

.footerLogoContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
}


/* Media query for mobile devices */
@media (max-width: 600px) {
    .workCVVideoContainer {
        width: 100%;
    }

    .workATVideoContainer {
        width: 100%;
    }
}
